@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500&display=swap');

:root {
  /* width: 100vw; */
  height: 100vh;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.dashboardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: rgb(189, 178, 16); */
  height: 100%;
  width: 100%;
  background: url('https://img.freepik.com/free-vector/comic-style-background_23-2148832536.jpg?w=1380&t=st=1708370343~exp=1708370943~hmac=8b30243e1bcdab29e260aa8bcfde0180a9a4d3deda806b145b2f61aa938388ba');
  background-size: cover;
  background-position: center;
}

.dashboardContainer>h1 {
  margin: 80px 0 50px 0;
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
}


.dashboardContainer>.memeBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin: 10px;
}

.memeMap {
  width: 350px;
  height: 350px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.memeMap>h3 {
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  /* overflow-wrap: break-word; */
  word-wrap: break-word;
  text-align: center;

}

.memeDetailContainer {
  background-color: cadetblue;
  height: 100vh;
  width: 100%;
  position: relative;
  background: url('https://i.pinimg.com/originals/e3/a9/1f/e3a91fc52e894ddb8c1a824f7d9b7367.png');
  background-size: cover;
  background-position: center;
  /* box-shadow: 2px 2px 10px 2px #0f1111; */

}

.memeDetailContainer>.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  gap: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 750px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.memeDetailContainer>.center>h1,
h2 {
  font-family: 'Roboto', sans-serif;
  color: rgb(0, 0, 0);
}

.imgTag {
  border: 5px solid white;
  border-radius: 10px;
}

.center>h1 {
  font-size: 45px;
  text-shadow: 4px -1px 6px rgba(255, 217, 0, 0.63);
}

.center>.inputBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.inputBox>input {
  width: 300px;
  height: 40px;
  outline: none;
  margin-top: 2px;
  padding-left: 5px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  border: none;
}

.button-14 {
  background-image: linear-gradient(#f7f8fa, #e7e9ec);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  box-shadow: rgba(255, 255, 255, .6) 0 1px 0 inset;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  height: 35px;
  width: 150px;
  font-size: 16px;
  outline: 0;
  overflow: hidden;
  padding: 0 11px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-14:active {
  border-bottom-color: #a2a6ac;
}

.button-14:active:hover {
  border-bottom-color: #a2a6ac;
}

.button-14:hover {
  border-color: #a2a6ac #979aa1 #82858a;
}